jellyfish==0.5.6
nats_client==0.4.0
nltk==3.2.1
numpy==1.11.0
requests==2.10.0
textrazor==1.2.2
tornado==4.4.2
attrs==16.3.0
Unidecode==0.4.19
watson_developer_cloud==0.26.0
scipy==0.17.1
numpy==1.11.0
scikit-image==0.12.3
scikit-learn==0.17.1
sklearn==0.0
git+https://ae26fd83a90650cb5b67bf5ee88c09d564189e21:x-oauth-basic@github.com/intelligogroup/match_infra.git
boto3==1.4.4
num2words==0.5.5
